html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
}

body{
    background: white;
}

/* Navigation bar */
.container {
    /* overflow: hidden; */
    width: 100%;
    height: 90px;
    padding: 0 50px;
    position: fixed;
    z-index: 10;
}

.check-btn{
    font-size: 30px;
    float: right;
    color: white;
    line-height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

.check-btn a {
    color: white;
    display: none;
    text-decoration: none;
}

.header-left {
    list-style: none;
    float: left;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    padding-top: 18px;
}

.header-right {
    list-style: none;
    float: right;
}

.list {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.list a {
    color: white;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.list a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.list a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Banner */
.banner {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Product Desc */

.product-section {
    width: 100%;
    /* top: 770vw; */
    /* position: absolute; */
    /* height: auto; */
    /* padding-left: 5%;
    padding-right: 5%; */
    text-align: center;
    background-color: rgba(122, 153, 151, 1);
    padding-bottom: 3vw;
    display: flex;
    flex-wrap: wrap;
    /* float: left; */
    justify-content: space-around;
    /* align-content: space-between; */
}

.title-border{
    background-color: white;
    margin-top: 9%;
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
}

.product-title {
    width: 100%;
    text-align: center;
    /* padding-top: 50px; */
    height: 50px;
    padding-bottom: 50px;
    font-size: 35px;
    /* letter-spacing: 1px; */
    padding-top: 10px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    color: #3F817B;
}

.product1 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image1 {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
}

.product2 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image2 {
    position: relative;
}

.product3 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image3 {
    position: relative;
    margin-top: 72px;
    margin-bottom: 72px;
}

.product4 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image4 {
    position: relative;
    margin-top: 85px;
    margin-bottom: 85px;
}

.product5 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image5 {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

.title-border1 {
    background-color: white;
    margin-top: 50px;
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
}

.new-list{
    width: 100%;
}

.new-ptitle{
    width: 100%;
    text-align: center;
     /* padding-top: 50px; */
    height: 50px;
    padding-bottom: 50px;
    font-size: 35px;
    padding-top: 9px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    color: #3F817B;
    /* letter-spacing: 4px; */
}

.new-plist {
    display: flex;
    flex-wrap: wrap;
    /* float: left; */
    justify-content: center;
    
}

.product6 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image6 {
    position: center;
    margin-top: 12px;
    margin-bottom: 12px;

}

.product7 {
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    height: 610px;
    width: 550px;
    padding-bottom: 15px;
}

.product-image7 {
    position: center;
    margin-top: 103px;
    margin-bottom: 105px;
}

.product-button{
    background-color: #00672e;
    color: white;
    border-radius: 30px;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    border: 0;
    padding: 15px;
    opacity: 0.8;
}

.product-button:hover{
    opacity: 1;
}

.product-button1 {
    background-color: #00672e;
    color: white;
    border-radius: 30px;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    border: 0;
    padding: 15px;
    opacity: 0.8;
    /* margin-top: 3px; */
}

.product-button1:hover {
    opacity: 1;
}

.product-list {
    /* float: left; */
    /* width: 80%; */
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


.product-titlesub {
    /* position: relative; */
    width: 100%;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

.pdesc {
    /* width: 80%; */
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    font-family: sans-serif;
}

/* About us */

.aboutus {
    /* background-color: #3F817B; */
    background-color: rgba(122, 153, 151, 1);
    text-align: center;
    padding-top: 4.8%;
    padding-bottom: 59px;
    /* flex-wrap: wrap; */
}

.aboutus p {
    text-align: center;
    display: block;
    font-size: 23px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
}

.aboutus h2 {
    display: block;
    font-size: 35px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-top: 4.5%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Rubik', sans-serif;
}

.aboutus h3 {
    display: block;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-top: 2.7%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Rubik', sans-serif;
}

/*Footer*/

.footerboxes{
    background-color:#3F817B;
    padding: 10px;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
}

.footerbox{
    width: 25%;
    /* float:left; */
    padding:20px;
    margin:0px;    
}
.footerbox ul{
    padding-left:0px;
    padding-bottom: 30px;
}

.footerbox ul li{
    list-style: none;
    padding-left:0px;
    padding-bottom:10px;    
}

.footer-text{
    color: black;
}

.footer-text:hover {
    color: rgb(50, 50, 192);
    text-decoration: underline;
}

.social-image {
    width: 40px;
}

.social-image:hover{
    transform: scale(1.1);
}

.socialmedia{
	padding:19px;
    width: 25%;
}
.socialmedia ul li{
    list-style:none;
}

.social-media{
    display: flex;
}

.social-media-animation{
    margin-right: 20px;
}

/* .social-media-animation:hover{
    transform: scale(1.1);
} */

/* Subscribe */ 
.form{
    width: 100%;
    background-color: rgba(122, 153, 151, 1);
    padding-top: 8%;
    padding-bottom: 3%;
}

.form-title{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form-container{
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 2vw;
    padding-bottom: 1%;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-content{
    display: flex;
   flex-direction: column;
   /* align-items: center; */
   width: 100%;
   padding-left: 5%;
   padding-right: 5%;
   flex-wrap: wrap;
}

.input-border{
    width: 100%;
    border-radius: 2vw;
    height: 35px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 2%;
    border: 0.1vw solid black;
}

.subscribe-product{
    border-radius: 2vw;
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    border: 0.1vw solid black;
    height: 35px;
    font-size: 20px;
    margin-bottom: 2%;
}

.checkbox-value{
    margin-bottom: 2%;
}

.send-msg{
    padding-left: 2%;
    padding-bottom: 2%;
}

.subscribe-button {
    background-color: #00672e;
    color: white;
    border-radius: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
    font-size: 16px;
    border: 0;
    padding: 15px;
    opacity: 0.8;
    /* margin-top: 3px; */
}

.subscribe-button:hover {
    opacity: 1;
}

.validate-msg{
    width: 100%;
    color: red;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

/* Shipping */

.termsofuser {
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 1%;
}
  
.termsofuser h2 {
    font-size: 35px;
    padding-top: 8%;
    font-family: 'Rubik', sans-serif;
}

.termsofuser1 {
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
}

.termsofuser2 {
    text-align: justify;
    font-size: 20px;
    padding-top: 1%;
    font-family: sans-serif;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 9%;
}
  
/* .termsofuser h3 {
    display: block;
    font-size: 25px;
    padding-top: 5%;
    margin-top: 10%;
    
} */

/* Terms and Conditions */
.termsofuser-new {
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 7%;
}

.termsofuser-new1 {
    background-color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 7.5%;
    font-family: 'Rubik', sans-serif;
}

.termsofuser-new2 {
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
    font-family: 'Rubik', sans-serif;
}
.termsofuser-new3 {
    background-color: white;
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 28px;
    padding-bottom: 2%;
}

/* Privacy Policy */

.privacypolicy {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: sans-serif;
}
  
.privacypolicy-title {
    text-align: center;
    padding-top: 6%;
    font-size: 30px;
    padding-bottom: 2%;
    display: block;
    font-family: 'Rubik', sans-serif;
}
  
.privacypolicy-subtitle {
    display: block;
    font-size: 20px;
    padding-bottom: 2%;
}
  
.privacypolicy-subtext {
    display: block;
    font-size: 20px;
    padding-bottom: 2%;
}

.privacypolicy-subtext1 {
    display: block;
    font-size: 20px;
    padding-bottom: 5%;
}

/* Promotions Page */
.promotion-section {
    width: 100%;
    text-align: center;
    background-color: rgba(122, 153, 151, 1);
    padding-bottom: 3vw;
    padding-top: 8%;
}

.title-promotion-border {
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    margin-bottom: 2%;
}

.promotion-product-list{
    display: flex;
    justify-content: center;
}

.promotion-product{
    background-color: white;
    border-radius: 2vw;
    margin: 20px;
    width: 40%;
    padding-bottom: 15px;
}

.promotion-titlesub1{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-decoration: line-through;
    color: red;
}
.promotion-titlesub2 {
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    color: green;
}

.promotion-ptitle{
    padding-top: 2%;
}

.promotion-pdesc{
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 4%;
    line-height: 27px;
    padding-right: 4%;
    margin-top: 2%;
}

.promotion-product-button {
    background-color: #00672e;
    color: white;
    border-radius: 30px;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    border: 0;
    padding: 15px;
    opacity: 0.8;
    margin-top: 4%;
    margin-bottom: 4%;
    /* margin-top: 3px; */
}

.promotion-product-button:hover {
    opacity: 1;
}

/* Payment */
.payment-image {
    padding-top: 13%;
    padding-bottom: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.payment{
    width: 50%;
}

/* How to order */
.termsofuser-new11 {
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
}

.termsofuser-new111 {
    background-color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 7.5%;
    font-family: 'Rubik', sans-serif;
}

.termsofuser-new211 {
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: 'Rubik', sans-serif;
}

.termsofuser-new311 {
    background-color: white;
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 28px;
    padding-bottom: 6%;
}